name: tagged-release
on:
  push:
    tags: "v*"

jobs:
  build:
    name: Tagged Release
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
      GOOS: linux
    steps:

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Build
        run: python build.py build

      - name: Package
        run: python build.py package

      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            waifud_*.tar.gz
            waifud_*.zip
